.header {
  background-color: rgb(38, 189, 101);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__title {
  font-size: 4rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
